#norte {
    position: absolute;
    bottom: 10px;
    right: 20px;
    z-index: 1000;
    border-radius: 6px;
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
}

.custom-scale {
    position: absolute;
    bottom: 75px;
    left: -20px;
}

.leaflet-control-scale-line {
    border: 2px solid #414042;
    border-top: none;
    background: none;
    color: #414042;
}

.leaflet-control-scale-line:not(:first-child) {
    border-top: 2px solid #414042;
}

.leaflet-bottom .leaflet-control-scale {
    transform: rotate(-90deg) scaleX(1) scaley(0.8);
    transform-origin: bottom left;
    position: absolute;
    right: 35px;
    bottom: 40px;
}

.leaflet-container {
    background: #e6eefc;
}

#legenda {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000;
    font-family: Inter, sans-serif;
    font-size: 12px;
    border: 0px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
    max-width: 220px;
    border-radius: 0px;
    opacity: 85%;
  }
  
  #legenda h3 {
    margin: 0;
    padding-bottom: 10px;
    text-align: center;
    font-size: 14px;
    color: #333;
    font-weight: bold;
  }
  
  #legenda ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  #legenda li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .cor {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 3px;
  }
  
  .intervalo {
    flex: 1;
  }

  .leaflet-popup-close-button {
    display: none;
  }

  #sliderContainer {
    position: relative;
    top: 10px;
    left: 0px;
    z-index: 100;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 8px;
    width: 100%;
}
#sliderContainer2 {
    position: relative;
    top: 20px;
    left: 0px;
    z-index: 100;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 8px;
    width: 100%;
}

input[type="range"] {
  width: 75%; /* Define a largura da barra */
}

